border-radius() {
  -webkit-border-radius: arguments;
  -moz-border-radius: arguments;
  -ms-border-radius: arguments;
  -o-border-radius: arguments;
  border-radius: arguments;
}

box-shadow() {
  -webkit-box-shadow: arguments;
  -moz-box-shadow: arguments;
  box-shadow: arguments;
}

transition() {
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -o-transition: arguments;
  transition: arguments;
}

transition-delay(delay) {
  -webkit-transition-delay: delay;
}

animation() {
  -webkit-animation: arguments;
  -moz-animation: arguments;
  animation: arguments;
}
